# Example environment variables for the MCP server
DATABASE_URL=mssql+pymssql://<username>:<password>@<your_server>.database.windows.net/<your_database>

# Optional: override port
# PORT=8000

MCP_URL =        # optional, default used otherwise
OPENAI_URL = 'https://<YOUR_AZURE_FOUNDRY_ENDPOINT>/openai/v1/chat/completions'
OPENAI_API_KEY = '<YOUR_AZURE_FOUNDRY_API_KEY>'
OPENAI_MODEL = '<YOUR_OPENAI_MODEL>'